/.vscode/
/.history/
/.idea/
/.DS_Store
*.log
*.tmp
node_modules/
__pycache__/
*.pyc
*.pyo
*.pdb
*.exe
*.msi
*.zip
*.tar.gz
dist/
build/
venv/
ENV/
env/
python-3.8.6-embed-amd64/
VSCode-win32-x64-1.62.3/
code/
bin/
appx/
/*.pak
*.appx
*.appxbundle
.cache/
.vscode-test/
/.user
